<div class="row">
<!-- top search bar -->
<div class="topnav">
  <input type="text" id="search-bar" placeholder="Search..">
  <button onclick="searchBook()"></button>

</div>

<!-- side nav bar -->
<div class="left-sidebar">
  <a class="active" href="#home">Home</a>
  <a href="#profile">Profile</a>
  <a href="#library">Library</a>
  <a href="#settings">Settings</a>
</div>

<!-- page content -->
<div id="search-output">

</div>
<button onclick="addToList()">Add To List</button>
</div>