<div class="row">
<!-- top search bar -->
<div class="topnav">
  <h1>Settings</h1>
  <input type="text" placeholder="Search..">
</div>

<!-- side nav bar -->
<div class="left-sidebar">
  <a class="active" href="#home">Home</a>
  <a href="#profile">Profile</a>
  <a href="#library">Library</a>
  <a href="#settings">Settings</a>
</div>


</div>